h1{
    color: red;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 10px;
}
div h1{
    color: aquamarine;
}

body{
    background-color: aqua;
    text-align: center;
}
.mauxanh{
    color: rgb(53, 135, 48);
}
img{
    height: 315px;
    
}
h2{
    width: 200px;
    background-color: rgb(251, 46, 46);
    color: white;
    padding: 10px 0;
    border-radius: 40px;
    border: 2px solid rgb(13, 156, 35);
}
h2:hover{
    background-color: rgb(106, 21, 21);
    color: rgb(221, 167, 17);
}